.BestBrands-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
}

.slider-container {
}

.brand-block-item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: IRANSansMobileFaNum-Light;
}

.slick-list {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 0px !important;
}

.slick-slide {
}

.slick-slide :hover {
    background-color: #fbfbfd;
    z-index: 100;
}

.slick-slide :hover img {
    transform: scale(1.2);
}

.brand-block-item h3 {
    background-color: #1a6fb1;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
    color: #ffffff;
}

.brand-block-item div > img {
    width: 50px;
    height: 50px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    pointer-events: none;
}

.brand-block-item div {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.brand-block-item div > img :hover{
    width: 150px;
    height: 150px;
}

.product-name {
    font-size: .857rem;
    line-height: 25px;
    color: #535353;
    pointer-events: none;
    height: 50px;
    margin-top: 20px;
}

.price-container {
    display: flex;
    direction: rtl;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    pointer-events: none;
}

.product-price {
    font-size: 1.143rem;
    line-height: 1.375;
    color: #000;
    font-weight: 700;
    margin-left: 5px;
    font-family: IRANSansMobileFaNum-Bold;
}

.product-currency {
    font-size: .714rem;
    line-height: 2.2;
    font-weight: 400;
}

.arrow-prev {
    background-image: url("../image/arrow-left.png");
}

.arrow-next {
    background-image: url("../image/arrow-right.png");
}

.slick-prev:before {
    content: '' !important;
}

.slick-next:before {
    content: '' !important;
}

.slick-prev {
    left: -60px !important;
}

.slick-next {
    right: -60px !important;
}
