.events-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    width: 80%;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    width: 400px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url("../image/title.jpg");
    background-size: 100% 100%;
}

.image-container p {
    font-family: IRANSansMobile;
    font-size: 36px;
    color: #fff;
    margin-top: 15px;
}

.line {
    height: 2px;
    display: flex;
    background-color: black;
    flex: 1;
}

.event-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.event-slider {
    margin-left: 10px;
    margin-right: 10px;
}

.event-item-slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f4f7;
}

.event-slider {
    height: 400px;
}

.event-title {
    font-family: IRANSansMobileFaNum-Bold;
    margin-bottom: 20px;
}

.event-location {
    font-family: IRANSansMobileFaNum-Light;

}

.event-date {
    font-family: IRANSansMobileFaNum-Light;

}

.event-description {
    font-family: IRANSansMobileFaNum-Light;
    margin: 10px 0px;
}
