.sliderForm{
    margin-top: 50px;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.sliderForm input,.sliderForm button{
    padding: 0.5rem;
    font-size: 1.5rem;
    background: white;

}

.sliderForm button{
    color:#d88771;
    background: white;
    cursor: pointer;
    margin-left: 30px;
    transition: all 0.3s ease ;
}
.sliderForm button:hover{
    color:#d88771;
    background: white;
    transition: all 0.3s ease ;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items:center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin:0.5rem;
    background:white;
    color:black;
    font-size: 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.trash-btn,.complete-btn{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.complete-btn{
    background: rgb(73,204,73);

}

.fa-trash,.fa-check{
    pointer-events: none;

}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
.filter_todo{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color:#ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
.select::after{
    content:"\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right:0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease ;
}
.select:hover::after{
    background: white;
    color:#ff6f47;
}
.bannerName {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
