.brand-list {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.brand-row {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    cursor: grab;
}

.brand-row:hover {
    background-color: #dddddd;
}

.brand-row p {
    font-family: IRANSansMobileFaNum-Light;
    margin: 0px 10px;
}

.MuiSlider-valueLabel {
    left: auto !important;
}

.PrivateValueLabel-offset-3 {
    top: -54px !important;
}

.PrivateValueLabel-circle-4 {
    width: 52px !important;
    height: 52px !important;
}

.Collapsible{
    padding: 5px 5px;
    border-bottom: 1px solid #f0f0f0;
    cursor: default;
}

.collapsible-child{
    font-family: IRANSansMobileFaNum-Light;
    padding: 5px 40px;
    border-top: 0.1px solid #F7F7F0;
}

.category-products-list {
    border: 1px solid #F7F7F0;
    border-bottom: 0px solid #F7F7F0;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}

.category-parent-row {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
}

.category-parent-row p {
    margin: 0px 10px;
    font-family: IRANSansMobile-Bold;
    font-size: 15px;
}

.category-parent-row img {
    border-radius: 50px;
    overflow: hidden;
}

.product-brand {
    font-family: IRANSansMobileFaNum-Bold;
    color: #4f86f7!important;
}

.category-block-item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
    font-family: IRANSansMobile-Light;
    font-size: 10px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    font-family: IRANSansMobileFaNum-Bold;
}

.products-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    background-color: #13213C;
}

.filter_container p {
    font-family: IRANSansMobile-Bold;
    color: #A0A0A0;
    margin-left: 10px;
    direction: rtl;
}

.filter_container div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.filter_container div > a {
    font-family: IRANSansMobile-Light;
    color: #FFFFFF !important;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;
    cursor: pointer;
}

.filter_container .active {
    font-family: IRANSansMobile-Light;
    border-bottom: 3px solid #17a47d;
    font-size: 13px;
}

.filter_container .active a {
    cursor: pointer;
    font-family: IRANSansMobile-Light;
    color: #17a47d !important;
    font-size: 13px;
}
