.newcollection-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    width: 80%;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    width: 400px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url("../image/title.jpg");
    background-size: 100% 100%;
}

.image-container p {
    font-family: IRANSansMobile;
    font-size: 36px;
    color: #fff;
    margin-top: 15px;
}

.line {
    height: 2px;
    display: flex;
    background-color: black;
    flex: 1;
}

.collection-container {
    width: 100%;
    margin-top: 50px;
    background-image: url("../image/newCollection1.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.collectionSlider{
    height: 90%;
    width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 80px;
    overflow: hidden;
}

.new-collection-block-item {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-collection-block-item img {
    width: 200px;
    height: 200px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    pointer-events: none;
}

.new-collection-block-item img :hover{
    width: 150px;
    height: 150px;
}

.new-collection-product-name {
    font-size: 1.2rem;
    line-height: 25px;
    color: #535353;
    pointer-events: none;
    height: 50px;
    margin-top: 20px;
}

.new-collection-price-container {
    display: flex;
    direction: rtl;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    pointer-events: none;
}

.new-collection-product-price {
    font-size: 1.5rem;
    line-height: 1.375;
    color: #000;
    font-weight: 700;
    margin-left: 5px;
    font-family: IRANSansMobileFaNum-Bold;
}

.new-collection-product-currency {
    font-size: 1rem;
    line-height: 2.2;
    font-weight: 400;
}
