.highlight-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
}

.highlight-pic2 {
    margin-top: 50px;

}

.highlight-pic3 {
    margin-top: -10px;
    background-color: #f2f4f7;
    padding: 20px;
}

.readMore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.read-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: 15px;
    font-family: 'IRANSansMobileFaNum-Bold';
}

.highlight-line {
    height: 2px;
    width: 70px;
    background-color: black;
    margin-bottom: 10px;
}
