html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.App {
    margin-top: 0px;
}

.App .navbar-brand {
    font-weight: bold;
}

.App .container{
    align-content: center
}
.top-content{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}

@charset "UTF-8";
/* CSS Document */
/*----- Fonts ----*/
@font-face{
    font-family: IRANSans-Light;
    src:url("./fonts/IRANSans-Light.eot") format('eot'),
    url("./fonts/IRANSans-Light.woff") format('woff'),
    url("./fonts/IRANSans-Light.ttf") format('truetype');
}
@font-face{
    font-family: IRANSansMobile-Black;
    src:url("./fonts/IRANSansMobile-Black.eot") format('eot'),
    url("./fonts/IRANSansMobile-Black.woff") format('woff'),
    url("./fonts/IRANSansMobile-Black.ttf") format('truetype');
}
@font-face{
    font-family: IRANSansMobile-Bold;
    src:url("./fonts/IRANSansMobile-Bold.eot") format('eot'),
    url("./fonts/IRANSansMobile-Bold.woff") format('woff'),
    url("./fonts/IRANSansMobile-Bold.ttf") format('truetype');
}
@font-face{
    font-family: IRANSansMobile-Light;
    src:url("./fonts/IRANSansMobile-Light.eot") format('eot'),
    url("./fonts/IRANSansMobile-Light.woff") format('woff'),
    url("./fonts/IRANSansMobile-Light.ttf") format('truetype');
}
@font-face{
    font-family: IRANSansMobile;
    src:url("./fonts/IRANSansMobile.eot") format('eot'),
    url("./fonts/IRANSansMobile.woff") format('woff'),
    url("./fonts/IRANSansMobile.ttf") format('truetype');
}
@font-face{
    font-family: IRANSansMobileFaNum-Bold;
    src:url("./fonts/IRANSansMobileFaNum-Bold.eot") format('eot'),
    url("./fonts/IRANSansMobileFaNum-Bold.woff") format('woff'),
    url("./fonts/IRANSansMobileFaNum-Bold.ttf") format('truetype');
}
@font-face{
    font-family: IRANSansMobileFaNum-Light;
    src:url("./fonts/IRANSansMobileFaNum-Light.eot") format('eot'),
    url("./fonts/IRANSansMobileFaNum-Light.woff") format('woff'),
    url("./fonts/IRANSansMobileFaNum-Light.ttf") format('truetype');
}
/*----- General Styles ----*/
body{
    background: #000;
    text-align: end;

}
.a{
    text-decoration: none;
}
.a:hover{
    color:#7A0709;
}
.clear{
    clear:both;
}
h1,h2,h3,h4,h5{
    font-family: IRANSans-Light;
}
img{
    border: 0;
    max-width: 100%;
}
/*----- Main Styles ----*/
#header-main{
    width: 100%;
    background: #ffffff;
}
#main{
    margin: 0 auto;
    background: #ffffff;
}
.top-bar{
    height: 60px;
    width: 100%;
    flex-direction: row;
    background-color: #f16b7d33;
}
.top-start-bar{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.top-end-bar{
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
    padding-right: 50px;
    justify-content: flex-end;
}
.action-top-bar ul{
    margin-right: 40px;
}
.action-top-bar-right img{
    height: 50px;
    width: 50px;
    float: right;
    margin-left: -10px;
    margin-right: 30px;
    padding: 25px 0 0 2px;
}
.action-top-bar-left img{
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 30px;
    margin-right:-10px;
    padding: 25px 0 0 2px;
}
.logo img{
    margin-right: 300px;
    margin-top: 25px;
    height: 50px;

}
#loginModalHeader{
    text-align: center;
}



.mediaViewInfo {
    --web-view-name: Web 1920 – 2;
    --web-view-id: Web_1920__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920__2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920__2 {
    position: absolute;
    width: 1920px;
    height: 1067px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 2;
    --web-view-id: Web_1920__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Rectangle_38_i {
    fill: url(#Rectangle_38_i);
}
.Rectangle_38_i {
    position: absolute;
    overflow: visible;
    width: 1600px;
    height: 1067px;
    left: 320px;
    top: -2px;
}
#Group_181 {
    position: absolute;
    width: 1600px;
    height: 1067px;
    left: 320px;
    top: -2px;
    overflow: visible;
}
#Group_183 {
    position: absolute;
    width: 339.5px;
    height: 188px;
    left: 809px;
    top: 346px;
    overflow: visible;
}
#_4959391-0912___6954939-0912__ {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 312px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(6,6,6,1);
}
#Group_118 {
    position: absolute;
    width: 22.5px;
    height: 20.418px;
    left: 317px;
    top: 8.222px;
    overflow: visible;
}
#Group_117 {
    position: absolute;
    width: 22.5px;
    height: 20.418px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1251 {
    fill: rgba(0,0,0,1);
}
.Path_1251 {
    overflow: visible;
    position: absolute;
    width: 22.5px;
    height: 20.418px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_119 {
    position: absolute;
    width: 22.5px;
    height: 20.418px;
    left: 317px;
    top: 90.222px;
    overflow: visible;
}
#Group_117_q {
    position: absolute;
    width: 22.5px;
    height: 20.418px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1251_r {
    fill: rgba(0,0,0,1);
}
.Path_1251_r {
    overflow: visible;
    position: absolute;
    width: 22.5px;
    height: 20.418px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#infoGrimasir {
    left: 144px;
    top: 163px;
    position: absolute;
    overflow: visible;
    width: 168px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(6,6,6,1);
}
#Group_128 {
    position: absolute;
    width: 19.5px;
    height: 14.853px;
    left: 320px;
    top: 167.146px;
    overflow: visible;
}
#Group_121 {
    position: absolute;
    width: 17.541px;
    height: 8.904px;
    left: 0.98px;
    top: 0px;
    overflow: visible;
}
#Group_120 {
    position: absolute;
    width: 17.541px;
    height: 8.904px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1252 {
    fill: rgba(0,0,0,1);
}
.Path_1252 {
    overflow: visible;
    position: absolute;
    width: 17.541px;
    height: 8.904px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_123 {
    position: absolute;
    width: 6.619px;
    height: 12.894px;
    left: 12.881px;
    top: 0.98px;
    overflow: visible;
}
#Group_122 {
    position: absolute;
    width: 6.619px;
    height: 12.894px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1253 {
    fill: rgba(0,0,0,1);
}
.Path_1253 {
    overflow: visible;
    position: absolute;
    width: 6.619px;
    height: 12.894px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_125 {
    position: absolute;
    width: 6.619px;
    height: 12.894px;
    left: 0px;
    top: 0.98px;
    overflow: visible;
}
#Group_124 {
    position: absolute;
    width: 6.619px;
    height: 12.894px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1254 {
    fill: rgba(0,0,0,1);
}
.Path_1254 {
    overflow: visible;
    position: absolute;
    width: 6.619px;
    height: 12.894px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_127 {
    position: absolute;
    width: 17.541px;
    height: 6.619px;
    left: 0.979px;
    top: 8.235px;
    overflow: visible;
}
#Group_126 {
    position: absolute;
    width: 17.541px;
    height: 6.619px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1255 {
    fill: rgba(0,0,0,1);
}
.Path_1255 {
    overflow: visible;
    position: absolute;
    width: 17.541px;
    height: 6.619px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#______1126__mona______2020_RAH {
    left: 97px;
    top: 347px;
    position: absolute;
    overflow: visible;
    width: 497px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(6,6,6,1);
}
#___ {
    left: 556px;
    top: 853px;
    position: absolute;
    overflow: visible;
    width: 207px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(6,6,6,1);
}
#Rectangle_42 {
    fill: transparent;
    stroke: rgba(0,0,0,1);
    stroke-width: 4px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_42 {
    position: absolute;
    overflow: visible;
    width: 423px;
    height: 73px;
    left: 109px;
    top: 839px;
}
#_____ {
    opacity: 0.75;
    left: 308px;
    top: 862px;
    position: absolute;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(6,6,6,1);
}
#Group_186 {
    transform: matrix(1,0,0,1,112.5641,842.6506) rotate(-1deg);
    transform-origin: center;
    position: absolute;
    width: 64.904px;
    height: 64.904px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Ellipse_4 {
    opacity: 0.81;
    fill: rgba(197,191,191,1);
}
.Ellipse_4 {
    width: 64.904px;
    height: 64.904px;
    position: absolute;
    overflow: visible;
    transform: translate(-29.08px, -633.456px) matrix(1,0,0,1,18,635) rotate(180deg);
    transform-origin: center;
}
#Group_8 {
    transform: translate(-29.08px, -633.456px) matrix(1,0,0,1,45.1011,657.613) rotate(180deg);
    transform-origin: center;
    position: absolute;
    width: 10.702px;
    height: 20.369px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Line_14 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_14 {
    overflow: visible;
    position: absolute;
    width: 12.326px;
    height: 12.326px;
    left: 0.169px;
    top: 9.665px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_15 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_15 {
    overflow: visible;
    position: absolute;
    width: 12.236px;
    height: 11.359px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#____________________________ {
    left: 1315px;
    top: 1013px;
    position: absolute;
    overflow: visible;
    width: 473px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#__ {
    left: 965px;
    top: 267px;
    position: absolute;
    overflow: visible;
    width: 156px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(6,6,6,1);
}
#_ {
    left: 410px;
    top: 267px;
    position: absolute;
    overflow: visible;
    width: 184px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(6,6,6,1);
}
#__bi {
    left: 1620px;
    top: 267px;
    position: absolute;
    overflow: visible;
    width: 214px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Group_182 {
    position: absolute;
    width: 194px;
    height: 273px;
    left: 1653px;
    top: 347px;
    overflow: visible;
}
#_____________ {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 181px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Ellipse_26 {
    fill: rgba(255,255,255,1);
}
.Ellipse_26 {
    position: absolute;
    overflow: visible;
    width: 8px;
    height: 8px;
    left: 186px;
    top: 16px;
}
#Ellipse_27 {
    fill: rgba(255,255,255,1);
}
.Ellipse_27 {
    position: absolute;
    overflow: visible;
    width: 8px;
    height: 8px;
    left: 186px;
    top: 99px;
}
#Ellipse_28 {
    fill: rgba(255,255,255,1);
}
.Ellipse_28 {
    position: absolute;
    overflow: visible;
    width: 8px;
    height: 8px;
    left: 186px;
    top: 181px;
}
#Ellipse_29 {
    fill: rgba(255,255,255,1);
}
.Ellipse_29 {
    position: absolute;
    overflow: visible;
    width: 8px;
    height: 8px;
    left: 186px;
    top: 265px;
}
#Group_184 {
    position: absolute;
    width: 359.252px;
    height: 89.08px;
    left: 1500.748px;
    top: 798.92px;
    overflow: visible;
}
#Group_165 {
    position: absolute;
    width: 89px;
    height: 89px;
    left: 270.252px;
    top: 0px;
    overflow: visible;
}
#Rectangle_54 {
    opacity: 0.75;
    position: absolute;
    width: 89px;
    height: 89px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_129 {
    position: absolute;
    width: 61.479px;
    height: 61.479px;
    left: 12.108px;
    top: 11.258px;
    overflow: visible;
}
#Path_1256 {
    fill: rgba(9,9,9,1);
}
.Path_1256 {
    overflow: visible;
    position: absolute;
    width: 61.479px;
    height: 61.479px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1257 {
    opacity: 0.2;
    fill: rgba(9,9,9,1);
}
.Path_1257 {
    overflow: visible;
    position: absolute;
    width: 59.244px;
    height: 46.16px;
    left: 0px;
    top: 15.32px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_130 {
    position: absolute;
    width: 68.765px;
    height: 68.765px;
    left: 8.467px;
    top: 7.614px;
    overflow: visible;
}
#Path_1258_bx {
    fill: url(#Path_1258_bx);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1258_bx {
    overflow: visible;
    position: absolute;
    width: 13.983px;
    height: 29.237px;
    left: 27.766px;
    top: 19.803px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1259_bz {
    fill: url(#Path_1259_bz);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1259_bz {
    overflow: visible;
    position: absolute;
    width: 69.515px;
    height: 69.515px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_30_b {
    opacity: 0.4;
    fill: url(#Ellipse_30_b);
}
.Ellipse_30_b {
    width: 17.02px;
    height: 25.082px;
    position: absolute;
    overflow: visible;
    transform: translate(-4172px, -12037px) matrix(1,0,0,1,4216.6326,12056.0927) rotate(-45deg);
    transform-origin: center;
}
#Group_168 {
    position: absolute;
    width: 89.08px;
    height: 89.08px;
    left: 175.052px;
    top: 0px;
    overflow: visible;
}
#Rectangle_61 {
    opacity: 0.75;
    position: absolute;
    width: 89.08px;
    height: 89.08px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1273 {
    fill: rgba(0,0,0,1);
}
.Path_1273 {
    overflow: visible;
    position: absolute;
    width: 61.534px;
    height: 61.534px;
    left: 12.16px;
    top: 11.345px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1274 {
    opacity: 0.2;
    fill: rgba(7,7,7,1);
}
.Path_1274 {
    overflow: visible;
    position: absolute;
    width: 59.297px;
    height: 46.201px;
    left: 12.16px;
    top: 26.678px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_160 {
    position: absolute;
    width: 68.827px;
    height: 68.827px;
    left: 8.516px;
    top: 7.697px;
    overflow: visible;
}
#Path_1275_b {
    fill: url(#Path_1275_b);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1275_b {
    overflow: visible;
    position: absolute;
    width: 69.577px;
    height: 69.577px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1276_ca {
    fill: url(#Path_1276_ca);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1276_ca {
    overflow: visible;
    position: absolute;
    width: 12.571px;
    height: 12.571px;
    left: 28.434px;
    top: 28.497px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1277_cc {
    fill: url(#Path_1277_cc);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1277_cc {
    overflow: visible;
    position: absolute;
    width: 25.006px;
    height: 25.006px;
    left: 22.051px;
    top: 22.45px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1278_ce {
    fill: url(#Path_1278_ce);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1278_ce {
    overflow: visible;
    position: absolute;
    width: 3.564px;
    height: 3.564px;
    left: 39.193px;
    top: 26.692px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_32_cg {
    opacity: 0.4;
    fill: url(#Ellipse_32_cg);
}
.Ellipse_32_cg {
    width: 17.035px;
    height: 25.104px;
    position: absolute;
    overflow: visible;
    transform: translate(-4177.8px, -12411.08px) matrix(1,0,0,1,4222.5143,12430.2656) rotate(-45deg);
    transform-origin: center;
}
#Group_169 {
    position: absolute;
    width: 77.903px;
    height: 77.903px;
    left: 90.885px;
    top: 3.58px;
    overflow: visible;
}
#Path_1260 {
    fill: rgba(0,0,0,1);
}
.Path_1260 {
    overflow: visible;
    position: absolute;
    width: 61.75px;
    height: 61.287px;
    left: 7.49px;
    top: 7.629px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1261 {
    opacity: 0.2;
    fill: rgba(0,0,0,1);
}
.Path_1261 {
    overflow: visible;
    position: absolute;
    width: 55.291px;
    height: 43.08px;
    left: 7.49px;
    top: 25.836px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_137 {
    position: absolute;
    width: 77.903px;
    height: 77.903px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_56 {
    opacity: 0.75;
    position: absolute;
    width: 77.903px;
    height: 77.903px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_136 {
    position: absolute;
    width: 68.55px;
    height: 68.087px;
    left: 4.092px;
    top: 3.471px;
    overflow: visible;
}
#Group_134 {
    position: absolute;
    width: 68.55px;
    height: 68.087px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1262_cp {
    fill: url(#Path_1262_cp);
}
.Path_1262_cp {
    overflow: visible;
    position: absolute;
    width: 68.55px;
    height: 68.087px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_135 {
    position: absolute;
    width: 68.55px;
    height: 68.087px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1263 {
    fill: rgba(0,0,0,0);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1263 {
    overflow: visible;
    position: absolute;
    width: 69.3px;
    height: 68.837px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_141 {
    position: absolute;
    width: 39.354px;
    height: 30.105px;
    left: 19.405px;
    top: 24.13px;
    overflow: visible;
}
#Rectangle_57 {
    opacity: 0.75;
    position: absolute;
    width: 39.354px;
    height: 30.105px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_140 {
    position: absolute;
    width: 29.561px;
    height: 20.226px;
    left: 4.17px;
    top: 3.435px;
    overflow: visible;
}
#Group_138 {
    position: absolute;
    width: 29.561px;
    height: 20.226px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1264_cx {
    fill: url(#Path_1264_cx);
}
.Path_1264_cx {
    overflow: visible;
    position: absolute;
    width: 29.561px;
    height: 20.226px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_139 {
    position: absolute;
    width: 29.561px;
    height: 20.226px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1265 {
    fill: rgba(0,0,0,0);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1265 {
    overflow: visible;
    position: absolute;
    width: 30.311px;
    height: 20.976px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_31_c {
    opacity: 0.4;
    fill: url(#Ellipse_31_c);
}
.Ellipse_31_c {
    width: 15.884px;
    height: 23.408px;
    position: absolute;
    overflow: visible;
    transform: translate(-4179.633px, -12329.41px) matrix(1,0,0,1,4220.4957,12345.4288) rotate(-45deg);
    transform-origin: center;
}
#Group_170 {
    position: absolute;
    width: 81.694px;
    height: 81.693px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1266 {
    fill: rgba(0,0,0,1);
}
.Path_1266 {
    overflow: visible;
    position: absolute;
    width: 63.348px;
    height: 63.348px;
    left: 9.205px;
    top: 5.843px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1267 {
    opacity: 0.2;
    fill: rgba(0,0,0,1);
}
.Path_1267 {
    overflow: visible;
    position: absolute;
    width: 61.045px;
    height: 47.563px;
    left: 9.205px;
    top: 21.627px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_150 {
    position: absolute;
    width: 81.694px;
    height: 81.694px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_59 {
    opacity: 0.75;
    position: absolute;
    width: 81.694px;
    height: 81.694px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_149 {
    position: absolute;
    width: 70.855px;
    height: 70.855px;
    left: 4.618px;
    top: 3.755px;
    overflow: visible;
}
#Group_147 {
    position: absolute;
    width: 70.855px;
    height: 70.855px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1268_da {
    fill: url(#Path_1268_da);
}
.Path_1268_da {
    overflow: visible;
    position: absolute;
    width: 70.855px;
    height: 70.855px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_148 {
    position: absolute;
    width: 70.855px;
    height: 70.855px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1269 {
    fill: rgba(0,0,0,0);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1269 {
    overflow: visible;
    position: absolute;
    width: 71.605px;
    height: 71.605px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_154 {
    position: absolute;
    width: 41.047px;
    height: 41.047px;
    left: 20.423px;
    top: 18.755px;
    overflow: visible;
}
#Rectangle_60 {
    opacity: 0.75;
    position: absolute;
    width: 41.047px;
    height: 41.047px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_153 {
    position: absolute;
    width: 30.178px;
    height: 30.178px;
    left: 4.534px;
    top: 3.755px;
    overflow: visible;
}
#Group_151 {
    position: absolute;
    width: 30.178px;
    height: 30.178px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1270_di {
    fill: url(#Path_1270_di);
}
.Path_1270_di {
    overflow: visible;
    position: absolute;
    width: 30.178px;
    height: 30.178px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_152 {
    position: absolute;
    width: 30.178px;
    height: 30.178px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1271 {
    fill: rgba(0,0,0,0);
    stroke: rgba(112,112,112,1);
    stroke-width: 0.75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1271 {
    overflow: visible;
    position: absolute;
    width: 30.928px;
    height: 30.928px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1272_dm {
    opacity: 0.4;
    fill: url(#Path_1272_dm);
}
.Path_1272_dm {
    overflow: visible;
    position: absolute;
    width: 22.087px;
    height: 22.087px;
    left: 40.443px;
    top: 19.13px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_185 {
    position: absolute;
    width: 201.84px;
    height: 105.033px;
    left: 1657.848px;
    top: 51px;
    overflow: visible;
}
#Path_1234 {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1234 {
    overflow: visible;
    position: absolute;
    width: 38.24px;
    height: 95.747px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1235 {
    fill: rgba(255,255,255,1);
}
.Path_1235 {
    overflow: visible;
    position: absolute;
    width: 29.631px;
    height: 69.425px;
    left: 42.711px;
    top: 16.809px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1236 {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1236 {
    overflow: visible;
    position: absolute;
    width: 8.214px;
    height: 61.29px;
    left: 77.61px;
    top: 24.855px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1237 {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1237 {
    overflow: visible;
    position: absolute;
    width: 41.954px;
    height: 60.49px;
    left: 89.272px;
    top: 27.872px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1238 {
    fill: rgba(255,255,255,1);
}
.Path_1238 {
    overflow: visible;
    position: absolute;
    width: 28.165px;
    height: 69.239px;
    left: 133.818px;
    top: 24.428px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1239 {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1239 {
    overflow: visible;
    position: absolute;
    width: 36.632px;
    height: 99.591px;
    left: 166.229px;
    top: 6.39px;
    transform: matrix(1,0,0,1,0,0);
}




.modal-login {
    color: #636363;
    width: 350px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
    border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
}
.modal-login .modal-footer a {
    color: #999;
}
.modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #60c7c1;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
    width: 100%;
}
.modal-login.modal-dialog {
    margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #45aba6 !important;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}



.modalContainer{
    background-image: url("./image/240_F_326201666_uWqDPuA7pIQq92E2Mia0CBDbOsFaqFgb.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 400px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.modal-logo{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-login {
    width: 300px;
    margin: 30px auto;
    float: right;
}
.modal-login .modalContent {
    padding: 20px;
    border-radius: 10px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content:flex-end;
}
.modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
}
.modal-login h4 {
    color: #636363;
    text-align: right;
    font-size: 26px;
    margin-top: 0;
}

.modal-login .form-group {
    margin-bottom: 20px;
}
.modal-login label {
    font-weight: normal;
    font-size: 13px;
}
.modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.modal-login .btn {
    font-size: 16px;
    font-weight: bold;
    background: #ff4651;
    border-radius: 15px;
    border: none;
    min-width: 155px;
    min-height: 35px;
    outline: none !important;
    margin-right: 20px;
    margin-top: 20px;
}
.forget-psw a{
    text-decoration: none;
    float: right;
    color: black;
    margin-bottom: 10px;
}
.forget-psw a:hover{
    color: #ff4651;
}
.form-group{
    float:right;

}
.form-control{
    float: right;
}
.form-control::placeholder {
    text-align: right;
}

.input-group img{
    float:right;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
.remember{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    direction: rtl;
}
.checkbox{
    float: inherit;
}
.modalBody{
    display: flex;
    flex-direction: column;
}
.user-info{
    display: flex;
    justify-content: flex-end;
}
.user-info-container{
    position: absolute;
    z-index: 100;
    margin-top: 25px;
}
.user-info-container div {
    background-color: #fff;
    content: '';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 4px;
    font-size: .75em;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -260px;
    margin-top: 5px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
hr.solid {
    border-top: 1px solid #bbb;
}
.user-info-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.user-info-button{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #3c4043;
    display: inline-block;
    letter-spacing: .25px;
    margin: 16px 0 0;
    max-width: 254px;
    outline: 0;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: grab;
}
.user-info-image{
    background-image: url("./image/userInfoBg.png");
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}
#user-username{
    color: #202124;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 16px;
    line-height: 22px;
}
#user-email{
    color: #5f6368;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 14px;
    line-height: 19px;
}
.products-count {
    font-family: IRANSansMobileFaNum-Bold;
    color: red;
    position: absolute;
    top: 30px;
    left: 72px;
    z-index: 100;
    font-size: 11px;
}
.mediaViewInfo {
    --web-view-name: Web 1280 – 2;
    --web-view-id: Web_1280__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1280__2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#footer11 {
    position: absolute;
    width: 1280px;
    height: 470px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Web 1280 – 2;
    --web-view-id: footer11;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_377 {
    position: absolute;
    width: 686.677px;
    height: 1012.506px;
    left: 695.027px;
    top: -106.763px;
    overflow: visible;
}
#Path_556 {
    fill: rgba(20,33,61,1);
}
.Path_556 {
    overflow: visible;
    position: absolute;
    width: 469.056px;
    height: 917.597px;
    transform: translate(-897.132px, 106.763px) matrix(1,0,0,1,1053.1826,-78.5876) rotate(188deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Group_311 {
    opacity: 0.6;
    transform: translate(-897.132px, 106.763px) matrix(1,0,0,1,944.2804,164.8101) rotate(188deg);
    transform-origin: center;
    position: absolute;
    width: 479.11px;
    height: 711.054px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_288 {
    position: absolute;
    width: 479.11px;
    height: 674.538px;
    left: 5.082px;
    top: 0px;
    overflow: visible;
}
#Path_221 {
    fill: rgba(20,33,61,1);
}
.Path_221 {
    overflow: visible;
    position: absolute;
    width: 568.325px;
    height: 734.652px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_299 {
    position: absolute;
    width: 368.79px;
    height: 222.611px;
    left: 106.543px;
    top: 498.663px;
    overflow: visible;
}
#Rectangle_6099 {
    position: absolute;
    width: 396.183px;
    height: 271.77px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_667 {
    fill: rgba(20,33,61,1);
}
.Path_667 {
    overflow: visible;
    position: absolute;
    width: 479.11px;
    height: 674.538px;
    transform: translate(-897.132px, 106.763px) matrix(1,0,0,1,999.3082,139.9876) rotate(188deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Path_777 {
    opacity: 0.5;
    fill: rgba(229,229,229,1);
}
.Path_777 {
    overflow: visible;
    position: absolute;
    width: 317.302px;
    height: 156.288px;
    transform: matrix(1,0,0,1,959.207,290.8366) rotate(185deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Group_388 {
    transform: matrix(1,0,0,1,-138.6126,-451.7426) rotate(176deg);
    transform-origin: center;
    position: absolute;
    width: 735.831px;
    height: 1070.127px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_555_q {
    fill: rgba(20,33,61,1);
}
.Path_555_q {
    overflow: visible;
    position: absolute;
    width: 504.027px;
    height: 969.101px;
    transform: translate(1706.884px, 897.234px) matrix(1,0,0,1,1074.7083,-76.8582) rotate(188deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Group_311_r {
    opacity: 0.6;
    transform: translate(1706.884px, 897.234px) matrix(1,0,0,1,954.7656,213.073) rotate(188deg);
    transform-origin: center;
    position: absolute;
    width: 570.937px;
    height: 713.58px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_288_s {
    position: absolute;
    width: 570.937px;
    height: 687.278px;
    left: 0px;
    top: 26.238px;
    overflow: visible;
}
#Path_222_t {
    fill: rgba(20,33,61,1);
}
.Path_222_t {
    overflow: visible;
    position: absolute;
    width: 617.488px;
    height: 725.431px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_299_u {
    position: absolute;
    width: 370.097px;
    height: 223.399px;
    left: 52.408px;
    top: 1.274px;
    overflow: visible;
}
#Rectangle_609_v {
    position: absolute;
    width: 384.779px;
    height: 248.672px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_666_w {
    fill: rgba(20,33,61,1);
}
.Path_666_w {
    overflow: visible;
    position: absolute;
    width: 510.85px;
    height: 679.158px;
    transform: translate(1706.884px, 897.234px) matrix(1,0,0,1,1013.8845,192.4216) rotate(188deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Path_888 {
    opacity: 0.5;
    fill: rgba(229,229,229,1);
}
.Path_888 {
    overflow: visible;
    position: absolute;
    width: 317.302px;
    height: 156.288px;
    transform: matrix(1,0,0,1,4.207,5.8366) rotate(6deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Rectangle_623 {
    fill: rgba(252,251,245,1);
}
.Rectangle_623 {
    position: absolute;
    overflow: visible;
    width: 1096px;
    height: 397px;
    left: 82px;
    top: 44px;
}
#intro{
    left: 992px;
    top: 121px;
    position: absolute;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(0,0,0,1);
}
#Group_182 {
    position: absolute;
    width: 123px;
    height: 139px;
    left: 1005px;
    top: 173px;
    overflow: visible;
}
#_____________ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 116px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}
#Ellipse_26 {
    fill: rgba(0,0,0,1);
}
.Ellipse_26 {
    position: absolute;
    overflow: visible;
    width: 5px;
    height: 5px;
    left: 118px;
    top: 9px;
}
#Ellipse_27 {
    fill: rgba(0,0,0,1);
}
.Ellipse_27 {
    position: absolute;
    overflow: visible;
    width: 5px;
    height: 5px;
    left: 118px;
    top: 49px;
}
#Path_1292 {
    fill: rgba(0,0,0,1);
}
.Path_1292 {
    overflow: visible;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 118px;
    top: 89px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_29 {
    fill: rgba(0,0,0,1);
}
.Ellipse_29 {
    position: absolute;
    overflow: visible;
    width: 5px;
    height: 5px;
    left: 118px;
    top: 129px;
}
#_4959391-0912___6954939-0912__ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 615px;
    top: 172px;
    position: absolute;
    overflow: visible;
    width: 225px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(6,6,6,1);
}




#infoGrimasir {
    left: 719px;
    top: 264px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(6,6,6,1);
}

#______1126__mona______2020_RAH {
    left: 157px;
    top: 165px;
    position: absolute;
    overflow: visible;
    width: 279px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(6,6,6,1);
}
#__bs {
    left: 320px;
    top: 121px;
    position: absolute;
    overflow: visible;
    width: 116px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(6,6,6,1);
}
#-us- {
    left: 741px;
    top: 121px;
    position: absolute;
    overflow: visible;
    width: 98px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(6,6,6,1);
}

#Group_188 {
    position: absolute;
    width: 320px;
    height: 37px;
    left: 210px;
    top: 375px;
    overflow: visible;
}
#___ {
    left: 226px;
    top: 8px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    text-align: right;
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(6,6,6,1);
}
.icons{
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 130px;
    transform: translateY(370px);
    padding-right: 10px;

}
.wrap{
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateX(-30px);
    transform: translateY(+140px);
}
.search {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    transform:translateX(-530px);
}

.searchTerm {
    width: 100%;
    border: 3px solid #13213c;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    direction: rtl;
    font-family: IRANSans;
}

.searchTerm:focus{
    color: #13213c;
}

.searchButtonFooter {
    width: 40px;
    height: 36px;
    border: 1px solid #13213c;
    background: #13213c;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    font-family: IRANSans;
}
