/*************************
*******Typography******
**************************/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);


ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}


/*************************
*******Header CSS******
**************************/

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100% !important;
}

.header-middle .container .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.header-bottom {
    padding-bottom: 30px;
    padding-top: 30px;
}
.logo-pull-left{
	float: right;
	margin-right: -750px;
}

/*************************
******* Home ******
**************************/
.search_box input{
    background: #F0F0E9;
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-right: 10px;
    padding-left: 25px;
    width: 100%;
    background-image: url("../images/searchicon.png");
    background-repeat: no-repeat;
    background-position: 10px;
    text-align: right;
}
#slider {
    padding-bottom: 45px;
}

.carousel-indicators li {
    background: #C4C4BE;
}

.carousel-indicators li.active {
    background: #13213c;
}

.item {
    padding-left: 100px;
}

.pricing {
    position: absolute;
    right: 40%;
    top: 52%;
}

.girl {
    margin-left: 0;
}

.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 115px;
}

.item h1 span {
    color: #13213c;
}

.item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}

.item p {
    color: #363432;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.get {
    background: #13213c;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
}

.item button:hover {
    background: #13213c;
}

.control-carousel {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: #C2C2C1;
}

.control-carousel:hover {
    color: #13213c;
}

.right {
    right: 0;
}

.category-products {
    border: 1px solid #F7F7F0;
    margin-bottom: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.left-sidebar h2,
.brands_products h2 {
    color: #13213c;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.left-sidebar h2:after,
h2.title:after {
    content: " ";
    position: absolute;
    border: 1px solid #f5f5f5;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}

.left-sidebar h2:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
}
.left-sidebar{
	float:right;
}

h2.title:before {
    content: " ";
    position: absolute;
    background: #fff;
    bottom: -6px;
    width: 220px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -110px;
}

.category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0 none;
}

.category-products .badge {
    background: none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.panel-body ul {
    padding-left: 20px;
}

.panel-body ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.brands-name {
    border: 1px solid #F7F7F0;
    padding-bottom: 20px;
    padding-top: 15px;
}

.brands-name .nav-stacked li a {
    background-color: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover {
    background-color: #fff;
    color: #696763;
}

.shipping {
    background-color: #F2F2F2;
    margin-top: 40px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
}

.price-range {
    margin-top: 30px;
}

.well {
    background-color: #FFFFFF;
    border: 1px solid #F7F7F0;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 35px;
}

.tooltip-inner {
    background-color: #13213c;
    border-radius: 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #13213c;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.padding-right {
    padding-right: 0;
}

.features_items {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h2.title {
    color: #13213c;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.product-image-wrapper {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-products {
    position: relative;
}

.new,
.sale {
    position: absolute;
    top: 0;
    right: 0;
}

.productinfo h2 {
    color: #13213c;
    font-size: 20px;
    font-weight: 700;
}

.product-overlay h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.productinfo p {
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}

.productinfo img {
    width: 50%;
    margin-top: 20px;
}

.productinfo {
    position: relative;
}

.product-overlay {
    background: rgba(254, 152, 15, .8);
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    -webkit-transition: height 500ms ease 0s;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
}

.single-products:hover {
    background-color: #f0f0f0;
}

.single-products:hover .product-overlay {
    display: block;
    height: 100%;
}

.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.product-overlay .add-to-cart {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #13213c;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
    background: #fff;
    color: #13213c;
}

.product-overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.add-to-cart:hover {
    background: #13213c;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
}

.add-to {
    margin-bottom: 10px;
}

.add-to-cart i {
    margin-right: 5px;
}

.add-to-cart:hover {
    background: #13213c;
    color: #FFFFFF;
}

.choose {
    border-top: 1px solid #F7F7F0;
}

.choose ul li a {
    color: #B3AFA8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

.choose ul li a i {
    margin-right: 5px;
}

.choose ul li a:hover {
    background: none;
    color: #13213c;
}

.category-tab {
    overflow: hidden;
}

.category-tab ul {
    background: #40403E;
    border-bottom: 1px solid #13213c;
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
}

.category-tab ul li a {
    border: 0 none;
    border-radius: 0;
    color: #B3AFA8;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.category-tab ul li a:hover {
    background: #13213c;
    color: #fff;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #13213c;
    border: 0px;
    color: #FFFFFF;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
}

.nav-tabs li a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 0;
}

.recommended_items {
    overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
    padding-left: 0;
}

.recommended-item-control {
    position: absolute;
    top: 41%;
}

.recommended-item-control i {
    background: none repeat scroll 0 0 #13213c;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px 10px;
}

.recommended-item-control i:hover {
    background: #ccccc6;
}

.recommended_items h2 {}

.our_partners {
    overflow: hidden;
}

.our_partners ul {
    background: #F7F7F0;
    margin-bottom: 50px;
}

.our_partners ul li a:hover {
    background: none;
}


/*************************
*******Shop CSS******
**************************/


.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
    background-color: #13213c;
    border-color: #13213c;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}

/*************************
*******Product Details CSS******
**************************/

.product-details {
    overflow: hidden;
}

#similar-product {
    margin-top: 40px;
}

#reviews {
    padding-left: 25px;
    padding-right: 25px;
}

.product-details {
    margin-bottom: 40px;
    overflow: hidden;
    margin-top: 10px;
}

.view-product {
    position: relative;
}

.view-product img {
    border: 1px solid #F7F7F0;
    height: 380px;
    width: 100%;
}

.view-product h3 {
    background: #13213c;
    bottom: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 8px 20px;
    position: absolute;
    right: 0;
}

#similar-product .carousel-inner .item {
    padding-left: 0px;
}

#similar-product .carousel-inner .item img {
    display: inline-block;
    margin-left: 15px;
}

.item-control {
    position: absolute;
    top: 35%;
}

.item-control i {
    background: #13213c;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 10px;
}

.item-control i:hover {
    background: #ccccc6;
}

.product-information {
    border: 1px solid #F7F7F0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
}

.newarrival {
    position: absolute;
    top: 0;
    left: 0
}

.product-information h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.product-information p {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
}

.product-information span span {
    color:#13213c;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
}

.product-information span input {
    border: 1px solid #DEDEDC;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    outline: medium none;
    text-align: center;
    width: 50px;
}

.product-information span label {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-right: 5px;
}

.share {
    margin-top: 15px;
}

.cart {
    background: #13213c;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.shop-details-tab {
    border: 1px solid #F7F7F0;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}

.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

#reviews ul {
    background: #FFFFFF;
    border: 0 none;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}

#reviews ul li {
    display: inline-block;
}

#reviews ul li a {
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-right: 15px;
}

#reviews ul li a i {
    color:#13213c;
    padding-right: 8px;
}

#reviews ul li a:hover {
    background: #fff;
    color: #13213c;
}

#reviews p {
    color: #363432;
}

#reviews form span {
    display: block;
}

#reviews form span input {
    background: #F0F0E9;
    border: 0 none;
    color: #A6A6A1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 8px;
    width: 48%;
}

#reviews form span input:last-child {
    margin-left: 3%;
}

#reviews textarea {
    background: #F0F0E9;
    border: medium none;
    color: #A6A6A1;
    height: 195px;
    margin-bottom: 25px;
    margin-top: 15px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 15px;
    resize: none;
    width: 99.5%;
}

#reviews button {
    background: #13213c;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.nav-choose {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
    height: 30px;
    align-items: center;
}
